.App {
    text-align: center;
    font-family:"https://fontmeme.com/ea-sports-font/";
}

.nav {
    height: 20%;
    background-color: #215F96;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 10vh;
    
}


/* .title {
    display: flex;
    flex-direction: row;
    
} */

.nav a{

    position: relative;
    top: 35%;
    padding: 5px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.nav .nav-items{
   margin-top: 4% 2% 0% 0%;
}


.title img{
    margin: 4% 2% 0% 0%;
    /* border: 1px solid red; */
    width: 10%;
    height: 55%;
    
}

.landing img{
    width: 100%;
}


.giphy h3{
    text-align: center;
}

.landing .giphy img{
width: 60%;
display: flex;
justify-content: center;
margin: 0 auto; 
box-shadow: 5px 5px 5px rgba(68,68,68,0.6)
}

.giphy h4{
    text-align: center;
}
 h1 {
     text-align: center;
 }

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.foot-items {
    color: white;
    background-color:#215F96 ;
    display: flex;
    flex-direction: column;
    height: 65px;
    margin-top: 60px;
}

/* FORM SECTION */
.form {
    /* border: 1px solid blue; */

}

.form input{
    padding: 4% 15%;
}

/* Sign in form*/

.row .form-container {
    border: 1px grey;
    text-align: center;
    margin-top: 40%;
  
}


.row form{
    
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#93BEFD;
    font-weight: 700;
    margin-top: 5% 0%;
    

}

.row input{
    padding: 4% 20%;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 3% 20%;
    
}

.sign-in{
    color: white;
    background-color:#215F96;
    margin-top: 0;

}

.sign-in img{
    width: 7%;
    height: 7%;
    margin: 3% 1%;
}

/* Create Account Form */

.row .form-container {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
     
}

.account-buttons{
   display: flex;
   

}

.join-buttons{
    display: flex;
    justify-content: space-around;
    align-self: center;

}

.layout .content{
    border: 1px solid blue;
    
}
.roster {
    margin: 20px;
    padding: 20px;
}

.roster-container .roster {
    border:5px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.roster-container .roster h3 {
    margin: 20px;
}


.roster-container .roster p {
    padding: 1em;
}

.roster-container .roster img {
    height: 4em;
    width: 4em;
}
