.App {
    text-align: center;
    font-family:"https://fontmeme.com/ea-sports-font/";
}

.navbar {
    height: 20%;
    background-color: #215F96;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    color: white;
    
}


.title {
    display: flex;
    flex-direction: row;
    
}

a.navList {
    text-decoration: none;
    color: white;
}

.navbar .nav-items{
  
}


.title img{
    margin: 4% 2% 0% 0%;
    /* border: 1px solid red; */
    width: 10%;
    height: 55%;
    

}
.giphy h3{
    text-align: center;
}

.giphy img{
width: 60%;
display: flex;
justify-content: center;
margin: 0 auto; 
box-shadow: 5px 5px 5px rgba(68,68,68,0.6)
}

.hero img{
    width: 100%;
}

.foot-items {
    color: white;
    background-color:#215F96 ;
    display: flex;
    flex-direction: column;
    height: 65px;
    margin-top: 60px;
}

.form h3{
    text-align: center;
    color: red;
}
